Repository smelloscope/smello: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, uv-lock

ty:
  name: ty
  language: system
  entry: uv run --frozen ty check
  pass_filenames: false
  args:
  - server/src
  - clients/python/src

uv-lock:
  name: uv lock check
  language: system
  entry: uv lock --check
  pass_filenames: false

feat(client): add botocore/boto3 patch for AWS SDK traffic
  clients/python/src/smello/patches/__init__.py
  clients/python/src/smello/patches/patch_botocore.py
  examples/python/basic_boto3.py
  pyproject.toml
  uv.lock
Due: ty, uv-lock

fix(client): use raw bytes for response body capture
  clients/python/src/smello/capture.py
  clients/python/src/smello/patches/patch_httpx.py
  clients/python/src/smello/patches/patch_requests.py
  clients/python/tests/test_capture.py
Due: ty

feat(frontend): add XML body rendering with Tree/Raw tabs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/annotations/README.md
  frontend/src/components/BodyViewer.test.tsx
  frontend/src/components/BodyViewer.tsx
  frontend/src/components/JsonViewer.test.tsx
  frontend/src/components/JsonViewer.tsx
  frontend/src/components/Section.tsx
Due: none

docs: add botocore support and XML rendering to docs
  CLAUDE.md
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  docs/assets/screenshot.png
  docs/getting-started.md
  docs/overrides/home.html
  server/CHANGELOG.md
Due: none

Bump smello version: 0.5.0 → 0.6.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

Bump smello-server version: 0.3.4 → 0.4.0
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

feat(frontend): add resizable split view with react-resizable-panels
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/RequestList.tsx
  frontend/src/pages/SplitView.tsx
  server/CHANGELOG.md
Due: none

feat(frontend): dark sidebar and toolbar redesign
  frontend/public/logo-dark.png
  frontend/public/logo.png
  frontend/src/components/FilterBar.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/MethodBadge.tsx
  frontend/src/components/RequestList.tsx
  frontend/src/components/RequestListItem.tsx
  frontend/src/pages/SplitView.tsx
  frontend/src/theme.ts
  server/CHANGELOG.md
Due: none

docs: update brand palette to dark surface + amber
  CLAUDE.md
  docs/assets/logo-dark-with-background.png
  docs/assets/logo-dark-with-background.svg
  docs/assets/logo-dark.png
  docs/assets/logo-dark.svg
  docs/assets/logo.png
  docs/assets/logo.svg
  docs/assets/screenshot.png
  docs/overrides/home.html
  docs/stylesheets/extra.css
  scripts/lib/colors.mjs
  scripts/lib/template.mjs
Due: none

Bump smello-server version: 0.4.0 → 0.4.1
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

Bump smello version: 0.6.0 → 0.6.1
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

feat(docs): add integrations strip and FAQ to landing page
  docs/assets/logos/anthropic.svg
  docs/assets/logos/aws.svg
  docs/assets/logos/googlecloud.svg
  docs/assets/logos/grpc.svg
  docs/assets/logos/httpx.svg
  docs/assets/logos/openai.svg
  docs/assets/logos/requests.svg
  docs/assets/logos/stripe.svg
  docs/overrides/home.html
Due: none

chore: add landing-icons project skill
  .claude/skills/add-landing-icons/SKILL.md
Due: none

feat(frontend): add keyboard shortcuts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/atoms/hotkeyHelp.ts
  frontend/src/atoms/sectionState.ts
  frontend/src/atoms/snackbar.ts
  frontend/src/components/CopyButton.tsx
  frontend/src/components/CopySnackbar.tsx
  frontend/src/components/FilterBar.tsx
  frontend/src/components/Kbd.tsx
  frontend/src/components/RequestDetail.tsx
  frontend/src/components/RequestList.tsx
  frontend/src/components/RequestListItem.tsx
  frontend/src/components/Section.test.tsx
  frontend/src/components/Section.tsx
  frontend/src/hooks/useFilteredRequests.ts
  frontend/src/hotkeys/HotkeyHelpDialog.tsx
  frontend/src/hotkeys/README.md
  frontend/src/hotkeys/__tests__/HotkeyHelpDialog.test.tsx
  frontend/src/hotkeys/__tests__/useListNavigation.test.ts
  frontend/src/hotkeys/registry.ts
  frontend/src/hotkeys/types.ts
  frontend/src/hotkeys/useDetailHotkeys.ts
  frontend/src/hotkeys/useGlobalHotkeys.ts
  frontend/src/hotkeys/useListNavigation.ts
  frontend/src/pages/SplitView.tsx
Due: none

docs: add keyboard shortcuts reference page
  CLAUDE.md
  docs/keyboard-shortcuts.md
  mkdocs.yml
Due: none

docs: add keyboard shortcuts to server changelog
  server/CHANGELOG.md
Due: none

Bump smello-server version: 0.4.1 → 0.4.2
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

feat(server): add startup banner with GitHub links
  server/pyproject.toml
  server/src/smello_server/__main__.py
  uv.lock
Due: ty, uv-lock

feat(server): migrate CLI to typer, add --open/--no-open flag
  Dockerfile
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__main__.py
  uv.lock
Due: ty, uv-lock

fix(frontend): eliminate loading flicker on page load
  frontend/src/pages/SplitView.tsx
Due: none

Bump smello-server version: 0.4.2 → 0.4.3
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

feat(server): widen search to full-text across all request fields
  frontend/src/components/FilterBar.tsx
  server/src/smello_server/routes/api.py
  server/tests/test_api.py
Due: ty

docs: update search descriptions to reflect full-text search
  README.md
  docs/ai-skills.md
  docs/api.md
  server/README.md
  skills/http-debugger/SKILL.md
Due: none

feat(client): add aiohttp support via TraceConfig signals
  clients/python/src/smello/patches/__init__.py
  clients/python/src/smello/patches/patch_aiohttp.py
  examples/python/basic_aiohttp.py
  pyproject.toml
  tests/test_e2e/test_full_flow.py
  uv.lock
Due: ty, uv-lock

docs: add aiohttp to supported libraries and patching guide
  CLAUDE.md
  README.md
  clients/python/README.md
  clients/python/src/smello/patches/PATCHING_GUIDE.md
  docs/assets/logos/aiohttp.svg
  docs/getting-started.md
  docs/overrides/home.html
Due: none

fix(frontend): flush MUI transitions before test teardown
  frontend/src/hotkeys/__tests__/HotkeyHelpDialog.test.tsx
Due: none

feat(client): add aiohttp support (#4)
  CLAUDE.md
  README.md
  clients/python/README.md
  clients/python/src/smello/patches/PATCHING_GUIDE.md
  clients/python/src/smello/patches/__init__.py
  clients/python/src/smello/patches/patch_aiohttp.py
  docs/assets/logos/aiohttp.svg
  docs/getting-started.md
  docs/overrides/home.html
  examples/python/basic_aiohttp.py
  pyproject.toml
  tests/test_e2e/test_full_flow.py
  uv.lock
Due: ty, uv-lock

Full-text search across all request fields (#3)
  README.md
  docs/ai-skills.md
  docs/api.md
  frontend/src/components/FilterBar.tsx
  server/README.md
  server/src/smello_server/routes/api.py
  server/tests/test_api.py
  skills/http-debugger/SKILL.md
Due: ty

docs: update changelogs for aiohttp support and full-text search
  clients/python/CHANGELOG.md
  server/CHANGELOG.md
Due: none

Bump smello version: 0.6.1 → 0.7.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

Bump smello-server version: 0.4.3 → 0.5.0
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

chore: update author email to roman@smello.io
  clients/python/pyproject.toml
  server/pyproject.toml
Due: uv-lock

docs: add dashboard screenshot and contact info
  README.md
  docs/overrides/main.html
Due: none

docs: add security policy with vulnerability reporting contact
  SECURITY.md
Due: none

feat(client): add `smello run` CLI wrapper for zero-code activation
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  clients/python/pyproject.toml
  clients/python/src/smello/bootstrap/__init__.py
  clients/python/src/smello/bootstrap/sitecustomize.py
  clients/python/src/smello/cli.py
  clients/python/tests/test_cli.py
  docs/configuration.md
  docs/getting-started.md
  docs/overrides/home.html
  examples/python/wrapper_demo.py
  server/README.md
Due: ty, uv-lock

fix(client): make `smello.init()` idempotent
  clients/python/CHANGELOG.md
  clients/python/src/smello/__init__.py
  clients/python/tests/test_env.py
Due: ty

docs(claude): document touchpoints for adding a client config option
  CLAUDE.md
Due: none

feat: add `smello run` CLI wrapper for zero-code activation (#7)
  CLAUDE.md
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  clients/python/src/smello/bootstrap/__init__.py
  clients/python/src/smello/bootstrap/sitecustomize.py
  clients/python/src/smello/cli.py
  clients/python/tests/test_cli.py
  clients/python/tests/test_env.py
  docs/configuration.md
  docs/getting-started.md
  docs/overrides/home.html
  examples/python/wrapper_demo.py
  server/README.md
Due: ty, uv-lock

Bump smello version: 0.7.0 → 0.8.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

docs(config): document `smello run` flags on the configuration page
  docs/configuration.md
Due: none

Path conditions:
  ty: any of: \.py$
  uv-lock: any of: (pyproject\.toml|uv\.lock)$
