Repository smelloscope/smello: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, uv-lock

ty:
  name: ty
  language: system
  entry: uv run --frozen ty check
  pass_filenames: false
  args:
  - server/src
  - clients/python/src

uv-lock:
  name: uv lock check
  language: system
  entry: uv lock --check
  pass_filenames: false

Add server recipe to justfile
  justfile
Due: none

Add gRPC interception for unary-unary calls
  clients/python/CHANGELOG.md
  clients/python/src/smello/patches/__init__.py
  clients/python/src/smello/patches/patch_grpc.py
  clients/python/tests/test_patch_grpc.py
  examples/python/basic_grpc.py
  examples/python/grpcbin.proto
  examples/python/grpcbin_pb2.py
  examples/python/grpcbin_pb2_grpc.py
  pyproject.toml
  server/src/smello_server/templates/partials/request_list_items.html
Due: ty, uv-lock

Update documentation with gRPC support and Google Cloud libraries
  CLAUDE.md
  README.md
  clients/python/README.md
  docs/ai-skills.md
  docs/getting-started.md
  server/README.md
  skills/http-debugger/SKILL.md
  skills/setup-smello/SKILL.md
Due: none

Fix gRPC capture for Google Cloud libraries
  clients/python/src/smello/patches/patch_grpc.py
  clients/python/tests/test_patch_grpc.py
Due: ty

Add gRPC mentions to docs landing page
  docs/overrides/home.html
Due: none

Add Google Tag Manager to documentation site
  docs/overrides/main.html
Due: none

Add py.typed marker to smello client package
  clients/python/src/smello/py.typed
Due: none

Use server URL as activation signal, remove enabled parameter
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  clients/python/src/smello/__init__.py
  clients/python/src/smello/config.py
  clients/python/tests/test_capture.py
  clients/python/tests/test_config.py
  clients/python/tests/test_env.py
  clients/python/tests/test_patch_grpc.py
  docs/configuration.md
  docs/getting-started.md
  docs/overrides/home.html
  examples/python/async_httpx.py
  examples/python/basic_grpc.py
  examples/python/basic_httpx.py
  examples/python/basic_requests.py
  examples/python/demo_httpbin.py
  server/README.md
  server/src/smello_server/templates/request_list.html
  server/tests/test_web.py
  skills/http-debugger/SKILL.md
  skills/setup-smello/SKILL.md
Due: ty

fix(release): run uv lock before bump commits to keep lockfile in sync
  clients/python/.bumpversion.toml
  server/.bumpversion.toml
Due: none

Bump smello version: 0.3.1 → 0.4.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

Remove SSR (Jinja2/HTMX), serve React SPA from FastAPI
  .github/workflows/docker.yml
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  Dockerfile
  README.md
  docs/api.md
  docs/getting-started.md
  justfile
  server/CHANGELOG.md
  server/README.md
  server/pyproject.toml
  server/src/smello_server/__main__.py
  server/src/smello_server/app.py
  server/src/smello_server/routes/api.py
  server/src/smello_server/routes/web.py
  server/src/smello_server/static/json-viewer.js
  server/src/smello_server/static/style.css
  server/src/smello_server/templates/base.html
  server/src/smello_server/templates/partials/request_detail_partial.html
  server/src/smello_server/templates/partials/request_list_items.html
  server/src/smello_server/templates/request_detail.html
  server/src/smello_server/templates/request_list.html
  server/tests/test_api.py
  server/tests/test_web.py
  tests/test_e2e/test_full_flow.py
  uv.lock
Due: ty, uv-lock

Bump smello-server version: 0.1.2 → 0.2.0
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

feat: add project logo to docs, READMEs, and frontend
  README.md
  clients/python/README.md
  docs/assets/logo.png
  docs/overrides/home.html
  frontend/.prettierignore
  frontend/index.html
  frontend/public/logo.png
  frontend/src/components/EmptyState.tsx
  frontend/src/components/Layout.tsx
  mkdocs.yml
  server/README.md
Due: none

fix: resolve CI test failures on Python 3.10 and Docker build
  Dockerfile
  clients/python/src/smello/patches/__init__.py
Due: ty

Bump smello-server version: 0.2.0 → 0.2.1
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

ci: build Docker image only on server version tags
  .github/workflows/docker.yml
Due: none

docs: redesign landing page for scannability and clarity
  CLAUDE.md
  docs/assets/logo-dark.png
  docs/overrides/home.html
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

fix: copy client SDK into Docker image for workspace resolution
  Dockerfile
Due: none

Bump smello-server version: 0.2.1 → 0.2.2
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

feat: add automated browser-mockup screenshot generator
  CLAUDE.md
  docs/assets/screenshot.png
  docs/overrides/home.html
  scripts/README.md
  scripts/colors.mjs
  scripts/demo-mockup.mjs
  scripts/mockup.mjs
  scripts/package-lock.json
  scripts/package.json
  scripts/template.mjs
Due: none

refactor: move mockup library modules into scripts/lib/
  CLAUDE.md
  scripts/README.md
  scripts/demo-mockup.mjs
  scripts/lib/colors.mjs
  scripts/lib/mockup.mjs
  scripts/lib/template.mjs
Due: none

feat: bundle frontend into smello-server PyPI wheel
  .github/workflows/publish-server.yml
  .gitignore
  CLAUDE.md
  README.md
  docs/getting-started.md
  justfile
  server/CHANGELOG.md
  server/README.md
  server/src/smello_server/app.py
  server/tests/test_app.py
  skills/setup-smello/SKILL.md
Due: ty

Bump smello-server version: 0.2.2 → 0.3.0
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

docs: update landing page and API docs for pip-first experience
  docs/api.md
  docs/overrides/home.html
Due: none

fix: show database path on startup and in --help
  docs/configuration.md
  server/CHANGELOG.md
  server/src/smello_server/__main__.py
Due: ty

Bump smello-server version: 0.3.0 → 0.3.1
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

update justfile
  justfile
Due: none

feat: redesign dashboard UI for better scannability and visual hierarchy
  docs/assets/screenshot.png
  frontend/src/components/FilterBar.tsx
  frontend/src/components/MethodBadge.tsx
  frontend/src/components/RequestDetail.tsx
  frontend/src/components/RequestList.tsx
  frontend/src/components/RequestListItem.test.tsx
  frontend/src/components/RequestListItem.tsx
  frontend/src/components/Section.tsx
  frontend/src/theme.ts
  frontend/src/utils/url.ts
  server/CHANGELOG.md
Due: none

Bump smello-server version: 0.3.1 → 0.3.2
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

docs: hide theme generator attribution from footer
  mkdocs.yml
Due: none

feat: decode query strings and show parsed query params in detail view
  frontend/src/components/RequestDetail.tsx
  frontend/src/components/Section.tsx
  frontend/src/utils/url.ts
  server/CHANGELOG.md
Due: none

Bump smello-server version: 0.3.2 → 0.3.3
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

docs: update http-debugger skill to detect Smello dashboard URLs
  skills/http-debugger/SKILL.md
Due: none

feat(frontend): annotate Unix timestamps in JSON response bodies
  frontend/src/annotations/AnnotatedValue.tsx
  frontend/src/annotations/README.md
  frontend/src/annotations/__tests__/AnnotatedValue.test.tsx
  frontend/src/annotations/__tests__/customizeNode.test.tsx
  frontend/src/annotations/__tests__/timestamp.test.ts
  frontend/src/annotations/customizeNode.tsx
  frontend/src/annotations/index.ts
  frontend/src/annotations/registry.ts
  frontend/src/annotations/timestamp.ts
  frontend/src/annotations/types.ts
  frontend/src/components/JsonViewer.tsx
Due: none

feat(examples): add timestamp example to demo script
  examples/python/demo_httpbin.py
Due: ty

docs: document JSON value annotation system
  CLAUDE.md
  docs/getting-started.md
  server/CHANGELOG.md
Due: none

Bump smello-server version: 0.3.3 → 0.3.4
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

feat(client): add redact_query_params to redact query string values
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  clients/python/src/smello/__init__.py
  clients/python/src/smello/capture.py
  clients/python/src/smello/config.py
  clients/python/tests/test_capture.py
  clients/python/tests/test_env.py
  docs/configuration.md
  docs/getting-started.md
  examples/python/demo_httpbin.py
Due: ty

Bump smello version: 0.4.0 → 0.5.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

Path conditions:
  ty: any of: \.py$
  uv-lock: any of: (pyproject\.toml|uv\.lock)$
