Repository smelloscope/smello: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, uv-lock

ty:
  name: ty
  language: system
  entry: uv run --frozen ty check
  pass_filenames: false
  args:
  - server/src
  - clients/python/src

uv-lock:
  name: uv lock check
  language: system
  entry: uv lock --check
  pass_filenames: false

feat(client): redact x-goog-api-key header by default
  clients/python/CHANGELOG.md
  clients/python/src/smello/__init__.py
  clients/python/tests/test_capture.py
  clients/python/tests/test_env.py
  docs/configuration.md
Due: ty

docs: regenerate dashboard screenshot
  docs/assets/screenshot.png
Due: none

fix(server): path traversal in SPA file serving
  server/CHANGELOG.md
  server/src/smello_server/app.py
  server/tests/test_app.py
Due: ty

Bump smello-server version: 0.8.1 → 0.8.2
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

fix(server): bind to localhost by default instead of 0.0.0.0
  Dockerfile
  docker-compose.yml
  docs/configuration.md
  server/CHANGELOG.md
  server/README.md
  server/src/smello_server/__main__.py
Due: ty

Bump smello-server version: 0.8.2 → 0.8.3
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

docs: bind Docker examples to localhost and add security section
  README.md
  docs/configuration.md
  docs/getting-started.md
  server/README.md
Due: none

fix(docs): mobile hamburger menu on landing page
  docs/overrides/home.html
Due: none

docs(skills): customize skills.sh listing
  skills.sh.json
Due: none

feat(frontend): render OpenAI and Anthropic calls as an LLM conversation view
  frontend/src/components/BodyViewer.test.tsx
  frontend/src/components/BodyViewer.tsx
  frontend/src/llm/LlmView.tsx
  frontend/src/llm/anthropic.test.ts
  frontend/src/llm/anthropic.ts
  frontend/src/llm/detect.ts
  frontend/src/llm/openai.test.ts
  frontend/src/llm/openai.ts
  frontend/src/llm/types.ts
  frontend/src/llm/util.ts
Due: none

examples: add LLM integration examples
  examples/llm/basic_anthropic.py
  examples/llm/llm_agent_sdk.py
  examples/llm/llm_anthropic.py
  examples/llm/llm_openai.py
  examples/llm/llm_openai_agents.py
  examples/llm/llm_openrouter.py
  examples/llm/llm_pydantic_ai.py
Due: ty

docs: document the LLM conversation view
  README.md
  docs/guides/assets/debug-anthropic-llm.png
  docs/guides/assets/debug-openai-llm.png
  docs/guides/debug-anthropic.md
  docs/guides/debug-openai.md
  docs/overrides/home.html
  server/CHANGELOG.md
Due: none

style(examples): apply ruff formatting to LLM examples
  examples/llm/llm_anthropic.py
  examples/llm/llm_openrouter.py
Due: ty

Bump smello-server version: 0.8.3 → 0.9.0
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

Path conditions:
  ty: any of: \.py$
  uv-lock: any of: (pyproject\.toml|uv\.lock)$
