Repository smelloscope/smello: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, uv-lock

.pre-commit-config.yaml:

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty
        language: system
        entry: uv run --frozen ty check
        types: [python]
        pass_filenames: false
        args: [server/src, clients/python/src]
      - id: uv-lock
        name: uv lock check
        language: system
        entry: uv lock --check
        files: (pyproject\.toml|uv\.lock)$
        pass_filenames: false

refactor(client): require keyword args for capture serializers
  clients/python/src/smello/capture.py
  clients/python/src/smello/patches/patch_grpc.py
Due: ty

test(client): flatten test_env classes into functions
  clients/python/tests/test_env.py
Due: ty

test(client): flatten patch_excepthook and patch_logging test classes
  clients/python/tests/test_patch_excepthook.py
  clients/python/tests/test_patch_logging.py
Due: ty

feat(server)!: remove /api/requests legacy endpoints
  docs/api.md
  scripts/README.md
  scripts/demo-mockup.mjs
  server/CHANGELOG.md
  server/src/smello_server/routes/api.py
  server/tests/test_api.py
  tests/test_e2e/test_full_flow.py
Due: ty

refactor: split /api/capture into typed endpoints and add server service layer
  CLAUDE.md
  clients/python/CHANGELOG.md
  clients/python/src/smello/patches/__init__.py
  clients/python/src/smello/patches/patch_aiohttp.py
  clients/python/src/smello/patches/patch_botocore.py
  clients/python/src/smello/patches/patch_excepthook.py
  clients/python/src/smello/patches/patch_grpc.py
  clients/python/src/smello/patches/patch_httpx.py
  clients/python/src/smello/patches/patch_logging.py
  clients/python/src/smello/patches/patch_requests.py
  clients/python/src/smello/transport.py
  clients/python/tests/test_patch_excepthook.py
  clients/python/tests/test_patch_grpc.py
  clients/python/tests/test_patch_logging.py
  clients/python/tests/test_transport.py
  docs/api.md
  server/CHANGELOG.md
  server/src/smello_server/routes/api.py
  server/src/smello_server/services/__init__.py
  server/src/smello_server/services/capture.py
  server/src/smello_server/services/events.py
  server/src/smello_server/types.py
  server/tests/conftest.py
  server/tests/test_api.py
  server/tests/test_services_capture.py
  server/tests/test_services_events.py
Due: ty

feat(client): add log/exception flags to `smello run`
  clients/python/CHANGELOG.md
  clients/python/src/smello/cli.py
  clients/python/tests/test_cli.py
  docs/configuration.md
Due: ty

docs(skills): present `smello run` as an activation path in smello-setup
  skills/smello-setup/SKILL.md
Due: none

chore(scripts): switch demo-mockup to all_in_one.py and pre-select POST
  docs/assets/screenshot.png
  scripts/README.md
  scripts/demo-mockup.mjs
Due: none

fix(server): preserve `smello-server [OPTIONS]` UX after adding subcommand
  CLAUDE.md
  Dockerfile
  justfile
  server/src/smello_server/__main__.py
Due: ty

refactor(server): return typed models from event services, tighten get_event
  server/src/smello_server/routes/api.py
  server/src/smello_server/services/events.py
  server/src/smello_server/types.py
  server/tests/test_api.py
  server/tests/test_services_events.py
Due: ty

fix: symmetric capture envelope, client-supplied timestamps, skill cleanups
  clients/python/src/smello/__init__.py
  clients/python/src/smello/_env.py
  clients/python/src/smello/cli.py
  clients/python/src/smello/patches/patch_aiohttp.py
  clients/python/src/smello/patches/patch_excepthook.py
  clients/python/src/smello/patches/patch_grpc.py
  clients/python/src/smello/patches/patch_logging.py
  clients/python/src/smello/transport.py
  clients/python/tests/conftest.py
  clients/python/tests/test_env.py
  clients/python/tests/test_patch_excepthook.py
  clients/python/tests/test_patch_grpc.py
  clients/python/tests/test_patch_logging.py
  clients/python/tests/test_transport.py
  frontend/openapi.json
  server/src/smello_server/__main__.py
  server/src/smello_server/models.py
  server/src/smello_server/routes/api.py
  server/src/smello_server/services/capture.py
  server/tests/test_services_capture.py
  tests/test_e2e/test_full_flow.py
Due: ty

Bump smello version: 0.8.0 → 0.9.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

Bump smello-server version: 0.5.0 → 0.6.0
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

fix(client): capture httpx streaming responses
  clients/python/CHANGELOG.md
  clients/python/src/smello/patches/PATCHING_GUIDE.md
  clients/python/src/smello/patches/patch_httpx.py
  clients/python/tests/test_patch_httpx.py
  docs/configuration.md
  examples/python/async_httpx.py
  examples/python/basic_httpx.py
Due: ty

Bump smello version: 0.9.0 → 0.10.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

ci: add separate CI job for optional-dependency patch tests
  .github/workflows/tests.yml
  clients/python/tests/test_patch_httpx.py
Due: ty

feat(frontend): add SSE event stream viewer for text/event-stream bodies
  frontend/src/components/BodyViewer.tsx
  frontend/src/components/SseViewer.tsx
Due: none

Bump smello-server version: 0.6.0 → 0.6.1
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

docs(client): clarify that log_level is a capture filter, not a logger override
  clients/python/src/smello/__init__.py
  clients/python/src/smello/cli.py
  docs/configuration.md
Due: ty

feat(client): accept named log levels (DEBUG, INFO, etc.) in addition to integers
  clients/python/CHANGELOG.md
  clients/python/src/smello/__init__.py
  clients/python/src/smello/_env.py
  clients/python/src/smello/cli.py
  clients/python/tests/test_cli.py
  clients/python/tests/test_env.py
  docs/configuration.md
Due: ty

Bump smello version: 0.10.0 → 0.10.1
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

docs: surface changelogs and add external links
  README.md
  clients/python/README.md
  docs/changelog.md
  mkdocs.yml
  server/README.md
Due: none

docs: add root CHANGELOG.md for GitHub sidebar discovery
  CHANGELOG.md
Due: none

fix(client): restore Python 3.10 compat for named log levels
  clients/python/CHANGELOG.md
  clients/python/src/smello/_env.py
Due: ty

Bump smello version: 0.10.1 → 0.10.2
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

refactor(client): make capture_exception public and internally safe
  clients/python/src/smello/patches/patch_excepthook.py
  clients/python/tests/test_patch_excepthook.py
Due: ty

feat(frontend): add http_incoming event support
  frontend/index.html
  frontend/openapi.json
  frontend/src/api/events.ts
  frontend/src/api/schema.ts
  frontend/src/components/EventTypeIcon.tsx
  frontend/src/components/FilterBar.tsx
  frontend/src/components/RequestDetail.tsx
  frontend/src/components/RequestListItem.tsx
  frontend/src/components/detail/HttpIncomingDetail.tsx
Due: none

feat(client): add ignore_loggers option to suppress noisy framework loggers
  clients/python/src/smello/__init__.py
  clients/python/src/smello/cli.py
  clients/python/src/smello/config.py
  clients/python/src/smello/patches/patch_logging.py
  clients/python/tests/test_cli.py
  clients/python/tests/test_config.py
  clients/python/tests/test_env.py
  clients/python/tests/test_patch_logging.py
Due: ty

feat(client): add FastAPI middleware for incoming HTTP request capture
  clients/python/src/smello/integrations/__init__.py
  clients/python/src/smello/integrations/fastapi.py
  clients/python/src/smello/transport.py
  clients/python/tests/test_integration_fastapi.py
Due: ty

refactor(client): extract shared helpers to utils.py and fix version bug
  clients/python/src/smello/capture.py
  clients/python/src/smello/utils.py
Due: ty

feat(server): add http_incoming event type for incoming request capture
  server/src/smello_server/routes/api.py
  server/src/smello_server/services/capture.py
  server/src/smello_server/services/events.py
  server/src/smello_server/types.py
  server/tests/conftest.py
  server/tests/test_api.py
  server/tests/test_services_capture.py
Due: ty

docs: add FastAPI middleware to landing page, getting-started, and READMEs
  CLAUDE.md
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  docs/assets/logos/fastapi.svg
  docs/configuration.md
  docs/getting-started.md
  docs/overrides/home.html
  docs/tech_debt.md
  examples/python/fastapi_server.py
  server/CHANGELOG.md
  server/README.md
Due: ty

Bump smello version: 0.10.2 → 0.11.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

Bump smello-server version: 0.6.1 → 0.7.0
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

docs: add integration guides, reorganize docs around smello run
  .claude/skills/maintain-docs/SKILL.md
  README.md
  clients/python/README.md
  docs/ai-skills.md
  docs/api.md
  docs/configuration.md
  docs/getting-started.md
  docs/guides/debug-aiohttp.md
  docs/guides/debug-anthropic.md
  docs/guides/debug-boto3.md
  docs/guides/debug-fastapi.md
  docs/guides/debug-google-cloud.md
  docs/guides/debug-grpc.md
  docs/guides/debug-httpx.md
  docs/guides/debug-openai.md
  docs/guides/debug-requests.md
  docs/guides/debug-stripe.md
  docs/guides/index.md
  docs/index.md
  docs/overrides/home.html
  includes/guide-next-steps.md
  mkdocs.yml
  server/README.md
Due: none

docs: integration guides, smello run reorg, writing review (#10)
  .claude/skills/maintain-docs/SKILL.md
  README.md
  clients/python/README.md
  docs/ai-skills.md
  docs/api.md
  docs/configuration.md
  docs/getting-started.md
  docs/guides/debug-aiohttp.md
  docs/guides/debug-anthropic.md
  docs/guides/debug-boto3.md
  docs/guides/debug-fastapi.md
  docs/guides/debug-google-cloud.md
  docs/guides/debug-grpc.md
  docs/guides/debug-httpx.md
  docs/guides/debug-openai.md
  docs/guides/debug-requests.md
  docs/guides/debug-stripe.md
  docs/guides/index.md
  docs/index.md
  docs/overrides/home.html
  includes/guide-next-steps.md
  mkdocs.yml
  server/README.md
Due: none
