Repository smelloscope/smello: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, uv-lock

.pre-commit-config.yaml:

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty
        language: system
        entry: uv run --frozen ty check
        types: [python]
        pass_filenames: false
        args: [server/src, clients/python/src]
      - id: uv-lock
        name: uv lock check
        language: system
        entry: uv lock --check
        files: (pyproject\.toml|uv\.lock)$
        pass_filenames: false

feat: add Claude Code terminal session mockup generator
  scripts/assets/claude-code-icon.png
  scripts/claude-code-mockup.mjs
  scripts/lib/claude-code-template.mjs
  scripts/package-lock.json
Due: none

docs: add screenshot-maker skill, update docs and maintain-docs skill
  .claude/skills/maintain-docs/SKILL.md
  .claude/skills/screenshot-maker/SKILL.md
  CLAUDE.md
  scripts/README.md
Due: none

docs: Django middleware integration guide and landing page
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  docs/assets/logos/django.svg
  docs/getting-started.md
  docs/guides/debug-django.md
  docs/guides/index.md
  docs/overrides/home.html
  mkdocs.yml
Due: none

docs: pre-commit hook workflow for multi-commit sessions
  CLAUDE.md
Due: none

feat: Django middleware for incoming HTTP request capture
  clients/python/src/smello/integrations/django.py
  clients/python/tests/test_integration_django.py
  examples/python/django_server.py
  pyproject.toml
  uv.lock
Due: ty, uv-lock

docs: add screenshots to Django integration guide
  docs/guides/assets/debug-django-claude.png
  docs/guides/assets/debug-django-dashboard.png
  docs/guides/assets/debug-django-session.json
  docs/guides/debug-django.md
Due: none

fix: use transparent background for Django guide screenshots
  docs/guides/assets/debug-django-claude.png
  docs/guides/assets/debug-django-dashboard.png
Due: none

fix(docs): regenerate Django guide screenshots with project mockup scripts
  docs/guides/assets/debug-django-claude.png
  docs/guides/assets/debug-django-dashboard.png
Due: none

feat: Django middleware for incoming HTTP request capture (#12)
  CLAUDE.md
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  clients/python/src/smello/integrations/django.py
  clients/python/tests/test_integration_django.py
  docs/assets/logos/django.svg
  docs/getting-started.md
  docs/guides/assets/debug-django-claude.png
  docs/guides/assets/debug-django-dashboard.png
  docs/guides/assets/debug-django-session.json
  docs/guides/debug-django.md
  docs/guides/index.md
  docs/overrides/home.html
  examples/python/django_server.py
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: ty, uv-lock

feat(frontend): add Clear All hotkey (⌘⇧E) with snackbar confirmation
  frontend/src/hotkeys/HotkeyHelpDialog.tsx
  frontend/src/hotkeys/registry.ts
  frontend/src/hotkeys/types.ts
  frontend/src/pages/SplitView.tsx
  server/CHANGELOG.md
Due: none

refactor: add smello- prefix to project skills to avoid name conflicts
  .claude/skills/smello-add-landing-icons/SKILL.md
  .claude/skills/smello-maintain-docs/SKILL.md
  .claude/skills/smello-screenshot-maker/SKILL.md
  CLAUDE.md
Due: none

Bump smello version: 0.11.0 → 0.12.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

Bump smello-server version: 0.7.0 → 0.7.1
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

feat(skills): update smello-setup with middleware and ignore_loggers
  skills/smello-setup/SKILL.md
Due: none

feat(client): add app and session parameters for event tagging
  clients/python/src/smello/__init__.py
  clients/python/src/smello/cli.py
  clients/python/src/smello/config.py
  clients/python/src/smello/transport.py
  clients/python/tests/test_cli.py
  clients/python/tests/test_config.py
  clients/python/tests/test_env.py
  clients/python/tests/test_transport.py
Due: ty

feat(server): accept, store, and filter events by app and session
  server/src/smello_server/routes/api.py
  server/src/smello_server/services/capture.py
  server/src/smello_server/services/events.py
  server/src/smello_server/types.py
  server/tests/test_api.py
Due: ty

feat(frontend): app/session filter dropdowns and inline app labels
  frontend/openapi.json
  frontend/src/api/events.ts
  frontend/src/api/schema.ts
  frontend/src/atoms/filters.ts
  frontend/src/components/FilterBar.tsx
  frontend/src/components/RequestListItem.test.tsx
  frontend/src/components/RequestListItem.tsx
  frontend/src/hooks/useFilteredRequests.ts
  frontend/src/hotkeys/useGlobalHotkeys.ts
Due: none

docs: add app/session to READMEs, configuration, API, getting-started
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  docs/api.md
  docs/configuration.md
  docs/getting-started.md
  examples/multi_app_demo.sh
  server/CHANGELOG.md
  server/README.md
  skills/smello/SKILL.md
Due: none

refactor(server): keep app/session in data blob instead of DB columns
  CLAUDE.md
  frontend/openapi.json
  frontend/src/api/schema.ts
  server/src/smello_server/app.py
  server/src/smello_server/models.py
  server/src/smello_server/services/events.py
  server/tests/test_api.py
Due: ty

feat: app and session tagging for event filtering (#13)
  CLAUDE.md
  README.md
  clients/python/CHANGELOG.md
  clients/python/README.md
  clients/python/src/smello/__init__.py
  clients/python/src/smello/cli.py
  clients/python/src/smello/config.py
  clients/python/src/smello/transport.py
  clients/python/tests/test_cli.py
  clients/python/tests/test_config.py
  clients/python/tests/test_env.py
  clients/python/tests/test_transport.py
  docs/api.md
  docs/configuration.md
  docs/getting-started.md
  examples/multi_app_demo.sh
  frontend/openapi.json
  frontend/src/api/events.ts
  frontend/src/api/schema.ts
  frontend/src/atoms/filters.ts
  frontend/src/components/FilterBar.tsx
  frontend/src/components/RequestListItem.test.tsx
  frontend/src/components/RequestListItem.tsx
  frontend/src/hooks/useFilteredRequests.ts
  frontend/src/hotkeys/useGlobalHotkeys.ts
  server/CHANGELOG.md
  server/README.md
  server/src/smello_server/app.py
  server/src/smello_server/models.py
  server/src/smello_server/routes/api.py
  server/src/smello_server/services/capture.py
  server/src/smello_server/services/events.py
  server/src/smello_server/types.py
  server/tests/test_api.py
  skills/smello/SKILL.md
Due: ty

Bump smello version: 0.12.0 → 0.13.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

Bump smello-server version: 0.7.1 → 0.8.0
  frontend/openapi.json
  frontend/src/api/schema.ts
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

feat: add --version flag to smello-server, expose version in API and empty state
  frontend/openapi.json
  frontend/src/api/schema.ts
  frontend/src/components/EmptyState.tsx
  server/CHANGELOG.md
  server/src/smello_server/__main__.py
  server/src/smello_server/services/events.py
  server/src/smello_server/types.py
Due: ty

Bump smello-server version: 0.8.0 → 0.8.1
  server/.bumpversion.toml
  server/CHANGELOG.md
  server/pyproject.toml
  server/src/smello_server/__init__.py
  uv.lock
Due: ty, uv-lock

chore: update development status from Alpha to Beta
  clients/python/pyproject.toml
  server/pyproject.toml
Due: uv-lock

feat(client): add debug logging helpers and config field
  clients/python/src/smello/_debug.py
  clients/python/src/smello/config.py
  clients/python/tests/test_debug.py
Due: ty

feat(client): wire debug flag and provenance tracking into init()
  clients/python/src/smello/__init__.py
Due: ty

feat(client): add debug logging to patches, transport, and integrations
  clients/python/src/smello/integrations/django.py
  clients/python/src/smello/integrations/fastapi.py
  clients/python/src/smello/patches/patch_aiohttp.py
  clients/python/src/smello/patches/patch_botocore.py
  clients/python/src/smello/patches/patch_excepthook.py
  clients/python/src/smello/patches/patch_grpc.py
  clients/python/src/smello/patches/patch_httpx.py
  clients/python/src/smello/patches/patch_logging.py
  clients/python/src/smello/patches/patch_requests.py
  clients/python/src/smello/transport.py
Due: ty

feat(client): add --debug flag and CLI provenance to smello run
  clients/python/src/smello/cli.py
  clients/python/tests/test_cli.py
Due: ty

docs: document debug mode, CLI flags, and provenance labels
  CLAUDE.md
  clients/python/CHANGELOG.md
  docs/configuration.md
  docs/getting-started.md
Due: none

feat(client): add SMELLO_DEBUG mode with provenance tracking (#14)
  CLAUDE.md
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  clients/python/src/smello/_debug.py
  clients/python/src/smello/cli.py
  clients/python/src/smello/config.py
  clients/python/src/smello/integrations/django.py
  clients/python/src/smello/integrations/fastapi.py
  clients/python/src/smello/patches/patch_aiohttp.py
  clients/python/src/smello/patches/patch_botocore.py
  clients/python/src/smello/patches/patch_excepthook.py
  clients/python/src/smello/patches/patch_grpc.py
  clients/python/src/smello/patches/patch_httpx.py
  clients/python/src/smello/patches/patch_logging.py
  clients/python/src/smello/patches/patch_requests.py
  clients/python/src/smello/transport.py
  clients/python/tests/test_cli.py
  clients/python/tests/test_debug.py
  docs/configuration.md
  docs/getting-started.md
  server/pyproject.toml
Due: ty, uv-lock

Bump smello version: 0.13.0 → 0.14.0
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

fix(client): decompress gzip/deflate response bodies in httpx captures
  clients/python/CHANGELOG.md
  clients/python/src/smello/utils.py
  clients/python/tests/test_capture.py
  clients/python/tests/test_patch_httpx.py
Due: ty

feat(examples): add Anthropic SDK example
  examples/python/basic_anthropic.py
Due: ty

Bump smello version: 0.14.0 → 0.14.1
  clients/python/.bumpversion.toml
  clients/python/CHANGELOG.md
  clients/python/pyproject.toml
  clients/python/src/smello/__init__.py
  uv.lock
Due: ty, uv-lock

fix(examples): replace time.sleep() with smello.flush()
  examples/python/all_in_one.py
  examples/python/async_httpx.py
  examples/python/basic_aiohttp.py
  examples/python/basic_anthropic.py
  examples/python/basic_boto3.py
  examples/python/basic_httpx.py
  examples/python/basic_requests.py
  examples/python/demo_httpbin.py
  examples/python/wrapper_demo.py
Due: ty

fix(client): improve debug logging in flush/shutdown
  clients/python/src/smello/transport.py
Due: ty
